* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
  background: var(--background-body);
  transition: .35s;
}

body.darkmode{
  background: var(--background-body);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .85rem 20px;
  transition: .35s;
  z-index: 10;
}

header.sticky {
  background: var(--background-navbar);
  box-shadow: rgba(0, 0, 0, 0.07) 0 4px 3px;
}

header.sticky .name, 
header.sticky .navlinks .navlinks__link{
  color: var(--color-navlinks);
}

header.sticky .navlinks .navlinks__link::before{
  background: var(--color-navlinks-border);
}

header.sticky .darkmode__icons .sun{
  color: var(--color-sun-icon);
}

header.sticky .darkmode__icons .moon{
  color: var(--color-moon-icon);
}

header.sticky .burger{
  color: var(--color-burger);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease-in;
}

header nav .name{
  color: var(--color-name);
  font-family: var(--font-play);
  font-weight: 400;
  font-size: 1.58rem;
}

header nav .navlinks {
  display: flex;
  gap: 30px;
}

header nav .navlinks .navlinks__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-navlinks);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1em;
}

header nav .navlinks .navlinks__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  height: 2px;
  background: var(--color-navlinks-border);
  transition: transform 0.5s;
}

header nav .navlinks .navlinks__link:is(.active, :hover)::before {
  transform-origin: left;
  transform: scaleX(1);
}

header nav .navlinks a svg {
  width: 18px;
  height: 18px;
}

header nav .navbar__right{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: 25px;
}

header nav .btn__contact{
  border: 1px solid var(--background-navbar-button);
  background: transparent;
  padding: 0 18px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  color: var(--color-text-navbar-button) !important;
  font-family: var(--font-secondary);
  font-weight: 400;
  box-shadow: rgba(63, 63, 63, 0.178) 0 1px 4px;
  transition: 400ms ease;
  
  &:hover{
    background: var(--background-navbar-button);
    color: var(--color-text-button-hover) !important;
    box-shadow: none;
  }
}

header nav .navlinks .btn__contact__menu{
  border: 1px solid var(--background-navbar-button);
  background: transparent;
  padding: 0 18px;
  height: 35px;
  border-radius: 50px;
  color: var(--color-text-navbar-button) !important;
  font-family: var(--font-secondary);
  font-weight: 400;
  transition: 400ms ease;

  &:hover{
    background: var(--background-navbar-button);
  }
}

header nav .navlinks .btn__contact__list{
  display: none;
}

.darkmode__btn .darkmode__icons{
  display: flex;
  align-items: center;
}

.darkmode__icons svg{
  position: absolute;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.darkmode__icons .sun{
  opacity: 1;
  visibility: visible;
  scale: 1;
  color: var(--color-sun-icon);
  transition: .5s ease-in-out;
}

.darkmode__icons .moon{
  opacity: 0;
  visibility: hidden;
  scale: 0;
  color: var(--color-moon-icon);
  transition: .5s ease-in-out;
}

.darkmode__icons .sun.active{
  opacity: 0;
  visibility: hidden;
  scale: 0;
}

.darkmode__icons .moon.active{
  opacity: 1;
  visibility: visible;
  scale: 1;
}

.burger, .close-menu{
  display: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: var(--color-burger);
}

.overlay{
  display: none;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  min-height: var(--min-height);
  background: var(--background-main);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: background .35s;
}

.container .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
  max-width: 75em;
  margin: auto;
}

.container .socials {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-family: sans-serif;
}

.container .socials svg {
  width: 28px;
  height: 28px;
  color: var(--color-icons-socials);
}

.main-content {
  position: relative;
  display: inline-block;
  max-width: 470px;
  font-family: var(--font-play);
  line-height: 1.5;
}

.main-content h2 {
  color: var(--color-title);
  font-size: 2.45rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-content h4 {
  color: var(--color-subtitle);
  margin-bottom: 15px;
  font-size: 1.065rem;
  font-weight: 400;
}

.main-content .buttons{
  display: flex;
  gap: 1rem;
}

.buttons a{
  background: transparent;
  border: 1px solid var(--color-button-main);
  color: var(--color-txt-button);
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: var(--font-secondary);
  font-weight: 400;
  transition: 450ms;
}

.buttons a:nth-child(1){
  background: linear-gradient(to left, #f4119e, #f0073b);
  color: var(--color-primary);
  border: none;
  box-shadow: none;
}

.buttons a:hover{
  background: var(--color-button-main);
  color: var(--color-txt-button-hover);
}

.buttons :is(a:nth-child(1)):hover{
  background: linear-gradient(to right, #f4119e, #f0073b);
  color: var(--color-primary);
}

.imageBox img {
  max-width: 100%;
  width: 310px;
  height: auto;
  display: block;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  max-width: 715px;
  margin: 1rem auto;
  line-height: 1.5;
  font-family: var(--font-secondary);
  text-align: center;
}

.about-content h2 {
  position: relative;
  color: var(--color-about-title);
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 45px;
}

.about-content h2::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 15%;
  height: 2px;
  background: var(--color-about-border-title);
}

.about-content p {
  margin: 0 0 15px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-about-paragraph);
  font-family: var(--font-primary);
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 10px 30px;
}

.skills .skills__title {
  position: relative;
  color: var(--color-titles);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.skills .skills__title::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 6px);
  background: var(--background-border-title-skills);
  width: 50%;
  height: 2px;
}

.skills .skills__container{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 5rem;
}

.skill__wrapper{
  font-family: var(--font-play);
  text-align: center;
  margin: 1rem 0;
}

.skill__wrapper .skill__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill__inner .skill{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--background-card-skill);
  width: 145px;
  height: 120px;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: 300ms;

  &:hover{
    scale: 1.08;
  }
}

.skill svg{
  width: 50px;
  height: 50px;
  color: #fff;
}

.skill .title__skill{
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.title__two {
  position: relative;
  color: var(--color-titles);
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.projects{
  width: 100%;
  padding: 4rem 1rem;
}

.box__text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1.5rem;
}

.projects .heading{
  position: relative;
  color: var(--color-heading);
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.projects .heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 6px);
  height: 2px;
  background: var(--color-border-heading);
  border-radius: 50px;
}

.carousel-projects{
  width: 100%;
  height: 480px;
  max-width: 1200px;
}

.swiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-slide .project__card{
  width: 350px;
  background: var(--background-cards-projects);
  box-shadow: var(--shadow-card);
  border-radius: 6px;
  transition: .35s;
}

.project__image{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project__card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: 300ms ease;
}

.project__card:hover .project__image img{
  scale: 1.1;
}

.project__card .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 0 10px;
  padding-top: 10px;
}

.box .title__card{
  color: var(--color-title-card);
  font-family: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 500;
}

.project__card .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.icons svg{
  width: 24px;
  height: 24px;
  color: var(--color-icons-projects);
}

.project__card .project__card__content{
  padding: 1%;
  font-family: var(--font-primary);
  text-align: center;
}

.project__card__content .paragraph__card{
  line-height: 1.5;
  margin-top: 10px;
  font-size: .95rem;
  color: var(--color-paragraph-card);
  margin-bottom: 20px;
}

.button__card{
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
  background: var(--background-button-card);
  color: var(--color-text-button-card);
  padding: 1.85% 8%;
  margin-bottom: 15px;
  border-radius: 6px;
  transition: 400ms ease-in-out;
  position: relative;

  &:hover{
    background: transparent;
    color: var(--color-button-hover);
  }

  &:hover::before{
    scale: 1;
  }
}

.button__card::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--background-button-border);
  scale: 0;
  transition: 400ms ease-in-out;
}

.carousel-arrows-container{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  width: 100px;
  z-index: 100;
}

.carousel-arrows{
  position: relative;
  top: 40%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-buttons-arrows);
  border: 1px solid var(--color-border-buttons-arrows);
  border-radius: 50px;
  cursor: pointer;
  transition: 200ms;
}

.carousel-arrows.swiper-button-disabled{
  opacity: .35;
  cursor: no-drop;
}

.carousel-button-prev{
  left: -50%;
}

.carousel-button-next{
  right: -70%;
}

.carousel-arrows svg{
  width: 25px;
  height: 25px;
  fill: var(--color-icon-arrow);
}

.swiper-pagination-bullet-active{
  color: var(--swiper-pagination-color);
}

.swiper-pagination-bullet{
  color: var(--color-bullet-pagination);
}

.contact{
  padding: 7rem 0;
  font-family: var(--font-primary);
}

.contact__heading{
  position: relative;
  text-align: center;
  color: var(--color-heading);
  font-size: 2.15rem;
  font-weight: 500;
  margin: 0 0 3rem;
}

.contact__heading::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 4px);
  width: 80px;
  height: 2px;
  background: var(--color-heading-border);
}

.contact .contact__wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}

.contact__wrapper .contact__card{
  position: relative;
  margin: 0 20px 20px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  transition: 300ms ease-in-out;

  &:hover svg{
    color: #fff;
  }

  &:hover .email{
    background: var(--color-email-contact);
  }

  &:hover .whatsapp{
    background: #00bb2d;
  }

  &:hover .linkedin{
    background: #0a66c2;
  }

  &:hover .github{
    background: #171515;
  }
}

.contact__card .contact__card__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: var(--background-icons-contact);
  box-shadow: rgba(0, 0, 0, 0.040) 0 6px 24px 0, rgba(0, 0, 0, 0.15) 0 0 0 1px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}

.contact__card__icon svg{
  width: 35px;
  height: 35px;
  color: var(--color-icons-contacts);
}

.email-card{
  cursor: pointer;
}

.email{
  background: transparent;
  transition: 400ms ease;

  &.active{
    background: var(--color-email-contact);
  }

  &.active svg{
    color: #fff;
  }
}

.whatsapp{
  transition: 400ms ease;
}

.linkedin{
  background: transparent;
  transition: 400ms ease;
}

.github{
  background: transparent;
  transition: 400ms ease;
}

.contact__card .contact__card__title{
  color: var(--color-title-contact);
  font-size: 1.28rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

footer {
  padding: 17px;
  background: var(--background-footer);
}

footer p {
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  font-family: var(--font-primary);
}

.topo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--color-topo);
  font-family: var(--font-primary);
  font-size: 1rem;
  background: var(--background-topo);
  box-shadow: rgba(53, 53, 53, 0.350) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  padding: 6px 6px;
  border-radius: 10px;
  border: none;
  outline: none;
  visibility: hidden;
  transform: translateY(100px);
  transition: 400ms ease;
  cursor: pointer;
  z-index: 1;

  &:hover{
    background: var(--background-topo-hover);
  }
}

.topo svg{
  width: 30px;
  height: 30px;
  color: var(--color-icon-topo);
  display: flex;
  align-items: center;
}

.topo.mostrarTopo{
  visibility: visible;
  transform: translateY(0);
}