@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    /* CORES E FONTES PRIMÁRIAS */
    --color-primary: #fbfbfb;

    --font-primary: "Noto Sans", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --font-play: "Play", sans-serif;
    --min-height: 100dvh;

    --background-body: #F8FAF8;
    
    /* NAVBAR */
    --background-navbar: #fff;
    --color-name: #000;
    --color-navlinks: #000;
    --color-navlinks-border: #000;
    --background-navbar-button: #2520DE;
    --color-text-navbar-button: #000;
    --color-text-button-hover: #fff;
    --color-sun-icon: #000;
    --color-moon-icon: #000;
    --color-burger: #1E1F24;
    
    /* APRESENTAÇÃO */
    --background-main: rgba(255, 255, 255, 0.2);
    --color-icons-socials: #1E1F24;
    --color-title: #1E1F24;
    --color-subtitle: #1E1F24;
    --color-button-main: #4b53fa;
    --color-txt-button: #000;
    --color-txt-button-hover: #fff;

    /* SOBRE MIM */
    --color-about-title: #000;
    --color-about-border-title: #000;
    --color-about-paragraph: #000;

    /* HABILIDADES */
    --color-titles: #202020;
    --background-border-title-skills: #202020;
    --background-card-skill: #1A33AE;

    /* PROJETOS */
    --color-heading: #000;
    --color-border-heading: #000;
    --background-cards-projects: #fff;
    --shadow-card: rgba(223, 223, 223, 0.1) 0 6px 12px -2px, rgba(0, 0, 0, 0.40) 0 3px 7px -3px;
    --color-title-card: #000;
    --color-paragraph-card: #454545;
    --background-button-card: #20639b;
    --color-text-button-card: #fff;
    --background-button-border: #000;
    --color-button-hover: #000;
    --swiper-pagination-color: #0a66c2;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: .2;
    --background-buttons-arrows: #fff;
    --color-border-buttons-arrows: #cdcdcd;
    --color-icon-arrow: #000;

    /* CONTATOS */
    --color-heading: #000;
    --color-heading-border: #000;
    --background-icons-contact: #fff;
    --color-icons-contacts: #252525;
    --color-title-contact: #101010;
    --color-email-contact: #1e3ca8;

    /* MODAL */
    --background-modal: #F6F6F6;
    --color-title-modal: #000;
    --color-icon-modal: #000;
    --color-icon-hover: #505050;
    --color-border-header-modal: #d3d3d3;
    --color-email-name-modal: #000;

    --google-icon-color: #FFC107;
    --google-icon-color-two: #FF3D00;
    --google-icon-color-tree: #4CAF50;
    --google-icon-color-four: #1976D2;

    --outlook-icon-color: #0072c6;

    /* FOOTER E TOPO */
    --background-footer: #2345c0;

    --background-topo: #fff;
    --background-topo-hover: #e0e0e0;
    --color-icon-topo: #000;
}

body.darkmode{
  --background-body: rgba(0, 0, 0, 0.9);

  /* NAVBAR */
  --background-navbar: #101010;
  --color-name: rgba(255, 255, 255, 0.9);
  --color-navlinks: rgba(255, 255, 255, 0.9);
  --color-navlinks-border: rgba(255, 255, 255, 0.9);
  --background-navbar-button: #3f39ff;
  --color-text-navbar-button: rgba(255, 255, 255, 0.9);
  --color-text-button-hover: rgba(255, 255, 255, 0.9);
  --color-sun-icon: rgba(255, 255, 255, 0.9);
  --color-moon-icon: rgba(255, 255, 255, 0.9);
  --color-burger: rgba(255, 255, 255, 0.9);

  /* APRESENTAÇÃO */
  --background-main: rgba(0, 0, 0, 0.2);
  --color-icons-socials: rgba(255, 255, 255, 0.9);
  --color-title: rgba(255, 255, 255, 0.9);
  --color-subtitle: rgba(255, 255, 255, 0.9);
  --color-button-main: #2630ec;
  --color-txt-button: #f2f2f2;

  /* SOBRE MIM */
  --color-about-title: rgba(255, 255, 255, 0.9);
  --color-about-border-title: rgba(255, 255, 255, 0.9);
  --color-about-paragraph: rgba(255, 255, 255, 0.9);
  
  /* HABILIDADES */
  --color-titles: rgba(255, 255, 255, 0.9);
  --background-border-title-skills: rgba(255, 255, 255, 0.9);
  --background-card-skill: #393737;
  
  /* PROJETOS */
  --color-heading: rgba(255, 255, 255, 0.9);
  --color-border-heading: rgba(255, 255, 255, 0.9);
  --color-title-card: rgba(255, 255, 255, 0.9);
  --background-cards-projects: #191919;
  --shadow-card: rgba(0, 0, 0, 0.253) 0 1px 3px 0, rgba(77, 77, 77, 0.488) 0 0 0 1px;
  --color-paragraph-card: #bebebe;
  --color-text-button-card: #fff;
  --background-button-border: rgba(255, 255, 255, 0.9);
  --color-button-hover: rgba(255, 255, 255, 0.9);
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
  --background-buttons-arrows: #303030;
  --color-border-buttons-arrows: transparent;
  --color-icon-arrow: #fff;

  /* CONTATOS */
  --color-heading: rgba(255, 255, 255, 0.9);
  --color-heading-border: rgba(255, 255, 255, 0.9);
  --background-icons-contact: #353535;
  --color-icons-contacts: rgba(255, 255, 255, 0.9);
  --color-title-contact: rgba(255, 255, 255, 0.9);
  --color-email-contact: #2A51DE;

  /* MODAL */
  --background-modal: #2b2a2a;
  --color-title-modal: rgba(255, 255, 255, 0.9);
  --color-icon-modal: rgba(255, 255, 255, 0.9);
  --color-icon-hover: #909090;
  --color-border-header-modal: #707070;
  --color-email-name-modal: rgba(255, 255, 255, 0.9);

  --google-icon-color: rgba(255, 255, 255, 0.9);
  --google-icon-color-two: rgba(255, 255, 255, 0.9);
  --google-icon-color-tree: rgba(255, 255, 255, 0.9);
  --google-icon-color-four: rgba(255, 255, 255, 0.9);

  --outlook-icon-color: rgba(255, 255, 255, 0.9);

  --background-footer: rgba(0, 0, 0, 0.5);
}